<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.visual.mapper.VisualMapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="visualMapResultMap" type="org.springblade.modules.visual.pojo.vo.VisualMapVO">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="code" property="code"/>
        <result column="parent_code" property="parentCode"/>
        <result column="ancestors" property="ancestors"/>
        <result column="name" property="name"/>
        <result column="level" property="level"/>
        <result column="has_children" property="hasChildren"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="lazyList" resultType="org.springblade.modules.visual.pojo.vo.VisualMapVO">
        SELECT
        vm.id,vm.parent_id,vm.code,vm.parent_code,vm.ancestors,vm.name,vm.level,vm.is_deleted,
        ( SELECT name FROM blade_visual_map WHERE id = vm.parent_id ) AS "parent_name",
        ( SELECT CASE WHEN count( 1 ) > 0 THEN 1 ELSE 0 END FROM blade_visual_map WHERE parent_id = vm.id ) AS "has_children"
        FROM blade_visual_map vm
        <where>
            vm.is_deleted = 0
            <if test="param1!=null">
                and vm.parent_id = #{param1}
            </if>
            <if test="param2!=null">
                and vm.name like concat(concat('%', #{param2}),'%')
            </if>
        </where>
    </select>

</mapper>
