<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.visual.mapper.VisualConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="visualConfigResultMap" type="org.springblade.modules.visual.pojo.entity.VisualConfig">
        <id column="id" property="id"/>
        <result column="visual_id" property="visualId"/>
        <result column="detail" property="detail"/>
        <result column="component" property="component"/>
    </resultMap>

</mapper>
